{% extends "base.html "%}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'todo/index.css' %}">
{% endblock %}

{% block title %}Todo List{% endblock %}

{% block content %}
{% if todo_list %}
<ul id="index">
  <form method="POST">{% csrf_token %}
  {% for todo in todo_list %}
    <li style="background:{{ todo.categorys.color }};">
      <input type="checkbox" name="delete" value={{todo.pk}} />
      <a href={% url "todo:detail" todo.pk %}>{{todo.title}}</a>
      <span id="timer-{{ todo.pk }}"></span>
      <progress id="proportion-{{ todo.pk }}"></progress>
      <script>
        {% if forloop.first %}
        function calcRemainingTime(due){
          const now = new Date();
          var dead = false;
          if (due.getTime() < now.getTime()){
            dead = true;
          }
          const rest = Math.abs(due.getTime() - now.getTime());
          const min = Math.floor(rest/1000/60) % 60;
          const hours = Math.floor(rest/1000/60/60) % 24;
          const days = Math.floor(rest/1000/60/60/24) % 7;
          const weeks = Math.floor(rest/1000/60/60/24/7);
          const count = [dead, weeks, days, hours, min];
          return count;
        }

        function calcProportion(start, due){
          const now = new Date();
          const progress = now - start;
          const whole = due - start;
          const proportion = progress / whole
          return proportion
        }

        function displayRemainingTime(due, start, pk) {
          //display time
          const counter = calcRemainingTime(due);
          const time = `${counter[1]}週間${counter[2]}日${counter[3]}時間${counter[4]}分`
          const pk_timer = "timer-" + pk;
          const pk_proportion = "proportion-" + pk;
          if (counter[0]){
            document.getElementById(pk_timer).textContent = "期限から" + time + "経過";
            document.getElementById(pk_timer).className = "dead";
          }
          else{
            document.getElementById(pk_timer).textContent = "期限まで残り" + time;
          }

          //display progressbar
          const proportion = calcProportion(start, due);
          document.getElementById(pk_proportion).value = proportion;

          setTimeout(displayRemainingTime, 1000*60, due, start, pk);
        }
        {% endif %}
        {% autoescape off %}
        var due = new Date("{{ todo.due.isoformat }}");
        var start = new Date("{{ todo.start.isoformat }}");
        {% endautoescape %}
        displayRemainingTime(due, start, '{{ todo.pk }}');
      </script>
    </li>
  {% endfor %}
  <button>delete</button>
  {% for message in messages %}
  <span>{{message}}</span>
  {% endfor %}
  </form>
</ul>
{% else %}
<p>No Tasks</p>
{% endif %}

<button type="button" onclick="location.href='{% url "todo:create" %}'">新規</button>
{% endblock %}
