body {
  margin: 0px;
}
nav {
  border-bottom: solid 2px #cccccc;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul a:hover {
  text-decoration: underline;
}

nav li button {
  font-size: 15px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  margin-right: 10px;
}

button:hover {
  opacity: 0.5;
}

button:active {
  position: relative;
  top: 2px;
}
