{% extends 'base.html'%}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'todo/category_index.css' %}">
{% endblock %}
{% block title %}Category delete{% endblock %}

{% block content %}
<div class="container mb-auto d-flex">
  {% if category_list %}
  <div class="flex-grow-1">
    <h1>以下のCategoryを本当に削除しますか?</h1>
    <form method="POST">{% csrf_token %}
      <ul id="index">
      {% for category in category_list %}
        <li class="rounded mb-2" style="border-left-color:{{ category.color }};">
          <div class="form-check d-flex align-items-center gap-2">
            <input class="form-check-input" type="checkbox" name="checked" value={{category.pk}} id="category_pk{{category.pk}}" checked />
            <label class="form-check-label d-flex align-items-center gap-2" for="category_pk{{category.pk}}"><a href={% url "todo:category_update" category.pk %}>{{category.name}}</a></label>
          </div>
        </li>
      {% endfor %}
      </ul>
      <button class="btn btn-danger btn-sm" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" alt="trash" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
        </svg>
      delete</button>
      <button class="btn btn-dark btn-sm" type="button" onclick='location.href="{% url 'todo:category_index' %}"' id="cancel">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      cancel
      </button>
    </form>
  </div>
{% else %}
  <div class="container text-center">
    <p class="display-6">No Categories</p>
    <button class="btn btn-outline-dark btn-sm" type="button" onclick='location.href="{% url 'todo:category_index' %}"' id="cancel">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    back
    </button>
  </div>
{% endif %}
</div>


{% endblock content %}
